.nav-wrapper {
    background-color: #FA824C; }
  
  .material-icons {
    margin: auto auto auto 15px; }
  
  #code-icon {
    font-size: 50px; }
  
  .text-nav {
    font-family: 'Raleway', sans-serif; }