<!-- Contact Start -->
<section id="contact">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <h1 class="text-contact-principal">
                Contacto / <span class="text-contact-principal-span">Contact</span> 
            </h1>
        </div>
    </div>
    <div class="row row-container-text-contact">
        <div class="col s12 m12 l12 xl12 col-container-text-contact">
            <a class="item-contact" href="https://wa.me/5215518745874" target="_blank"><i class="material-icons">phone</i></a>
            <a class="item-contact" href="mailto:skate.boarding@live.com.mx"><i class="material-icons">email</i></a>
            <h6 class="text-contact-h6">Nombre / <span class="text-contact-span">Name :</span></h6>
            <p class="text-contact-p" >Cesar</p>
            <h6 class="text-contact-h6">Apellido / <span class="text-contact-span">Last Name :</span></h6>
            <p class="text-contact-p" >González Caballero</p>
            <h6 class="text-contact-h6">Telefóno / <span class="text-contact-span">Phone :</span></h6>
            <a  href="https://wa.me/5215518745874" target="_blank"><p class="text-contact-p">5518745874</p></a>
            <h6 class="text-contact-h6">Correo / <span class="text-contact-span">Mail :</span></h6>
            <a  href="mailto:skate.boarding@live.com.mx"><p class="text-contact-p">skate.boarding@live.com.mx</p></a>
        </div>
    </div>
</section>
<!-- Contact End -->

<app-button></app-button>
<app-footer></app-footer>
