<!-- Developments Start -->
    <section id="developments">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <h1 class="text-developments-principal">
                    Desarrollos / <span class="text-developments-principal-span">Developments</span> 
                </h1>
            </div>
        </div>
        <div class="row row-developments">   
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/help-desk-icon-png-4.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Bootstrap, Git, GitHub</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Help Desk Ticket</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/abbla-logo.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Bootstrap, Git, GitHub, JavaScript</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Abbla Abbla</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/brainbow-logo.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Bootstrap, Git, GitHub, JavaScript, Jquery</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Brainbow</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/o2a-logo.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">Worpress</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="#">N/A</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="http://www.oxigenoarquitectura.com/">http://www.oxigenoarquitectura.com/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Oxigeno Arquitectura</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/vitae_icon.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Materialize, Git, GitHub, JavaScript, Jquery, Vue</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Vitae Vue</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/vitae_icon.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Materialize, Git, GitHub, JavaScript, Jquery, React</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Vitae React</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/vitae_icon.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Materialize, Git, GitHub, JavaScript, Jquery, Angular</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Vitae Angular</p>
                    </div>  
                </div>
            </div>
            <div class="col s12 m6 l4 xl4">
                <div class="card card-container-developments">
                    <div class="card-image card-image-developments">
                        <img class="img-developments" src="./assets/devs/vitae_icon.png">
                    </div>
                    <div class="card-content">
                        <p class="text-developments-title">Tecnologías :</p>
                        <p class="text-developments-description">HTML5, CSS3, SASS, Materialize, Git, GitHub, JavaScript, Jquery</p>
                        <p class="text-developments-title">Código :</p>
                        <a class="text-developments-description" href="https://github.com/gthbskate/HelpDeskTiket-Demo">https://github.com/gthbskate/HelpDeskTiket-Demo</a>
                        <p class="text-developments-title">Publicación :</p>
                        <a class="text-developments-description" href="https://gthbskate.github.io/HelpDeskTiket-Demo/">https://gthbskate.github.io/HelpDeskTiket-Demo/</a>                      
                    </div>
                    <div class="card-action">
                        <p class="text-dvelopments-name">Vitae</p>
                    </div>  
                </div>
            </div>
        </div>
    </section>
<!-- Developments End -->

<app-button></app-button>
<app-footer></app-footer>