<!-- Skills Start -->
<section id="skills">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <h1 class="text-skill-principal">
                Habilidades / <span class="text-skill-principal-span">Skills</span> 
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">HTML5</span>
                    <img class="img-card" src="./assets/carousel/html5-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d50"></div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">CSS3</span>
                    <img class="img-card" src="./assets/carousel/css3_logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d50"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">SASS</span>
                    <img class="img-card" src="./assets/carousel/sass-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d50"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">BOOSTRAP</span>
                    <img class="img-card" src="./assets/carousel/bootstrap-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d50"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">WORDPRESS</span>
                    <img class="img-card" src="./assets/carousel/wordpress-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d50"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">JAVASCRIPT</span>
                    <img class="img-card" src="./assets/carousel/js-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">JQUERY</span>
                    <img class="img-card" src="./assets/carousel/jquery-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">MATERIALIZE</span>
                    <img class="img-card" src="./assets/carousel/materialize-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">REACT</span>
                    <img class="img-card" src="./assets/carousel/react-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">VUE</span>
                    <img class="img-card" src="./assets/carousel/vue-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">ANGULAR</span>
                    <img class="img-card" src="./assets/carousel/angular-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">GIT</span>
                    <img class="img-card" src="./assets/carousel/git-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">GITHUB</span>
                    <img class="img-card" src="./assets/carousel/github-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">UI / UX</span>
                    <img class="img-card" src="./assets/carousel/uiux-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="col s12 m4 l3 xl2 col-cards">
            <div class="card card-container-cards">
                <div class="card-content white-text">
                    <span class="card-title">SCRUM</span>
                    <img class="img-card" src="./assets/carousel/scrum-logo.png" alt="">
                </div>
                <div class="card-action">
                    <div class="progress">
                        <div class="determinate d25"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Skills End -->

<app-button></app-button>
<app-footer></app-footer>