<!-- Principal Start -->
<section id="principal">
    <div class="row">
        <div class="col l6 xl6" id="col-img-principal">
            <img id="img-principal" src="../assets/principal/principal.png" alt="">
        </div>
        <div class="col s12 m12 l6 xl6">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <h1 class="text-dev-es">{{ textDevEs }}<span class="text-dev-enu">{{ textDevEn }}</span></h1>
                </div>
<!-- Slider Start -->
                <div class="row" id="slider">
                    <div class="col s3 m3 l3 xl3 slider">
                        <ul class="slides">
                            <li>
                                <img class="img-slide" src="../assets/carousel/html5-logo.png">
                                <h2 class="text-slide">{{ textHtml }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/git-logo.png">
                                <h2 class="text-slide">{{ textGit }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/sass-logo.png">
                                <h2 class="text-slide">{{ textSass }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/jquery-logo.png">
                                <h2 class="text-slide">{{ textJquery }}</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col s3 m3 l3 xl3 slider">
                        <ul class="slides">
                            <li>
                                <img class="img-slide" src="../assets/carousel/css3_logo.png">
                                <h2 class="text-slide">{{ textCss }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/github-logo.png">
                                <h2 class="text-slide">{{ textGithub }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/angular-logo.png">
                                <h2 class="text-slide">{{ textAngular }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/uiux-logo.png">
                                <h2 class="text-slide">{{ textUxui }}</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col s3 m3 l3 xl3 slider">
                        <ul class="slides">
                            <li>
                                <img class="img-slide" src="../assets/carousel/js-logo.png">
                                <h2 class="text-slide">{{ textJs }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/materialize-logo.png">
                                <h2 class="text-slide">{{ textMat }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/react-logo.png">
                                <h2 class="text-slide">{{ textReact }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/scrum-logo.png">
                                <h2 class="text-slide">{{ textScrum }}</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col s3 m3 l3 xl3 slider">
                        <ul class="slides">
                            <li>
                                <img class="img-slide" src="../assets/carousel/bootstrap-logo.png">
                                <h2 class="text-slide">{{ textBooots }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/wordpress-logo.png">
                                <h2 class="text-slide">{{ textWordpress }}</h2>
                            </li>
                            <li>
                                <img class="img-slide" src="../assets/carousel/vue-logo.png">
                                <h2 class="text-slide">{{ textVue }}</h2>
                            </li>
                        </ul>
                    </div>
                </div>
<!-- Slider End -->
            </div>
        </div>
    </div>
</section>
<!-- Pricipal End -->


<app-button></app-button>
<app-footer></app-footer>
