<!-- School Start -->
<section id="school">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <h1 class="text-school-principal">
                Estudios / <span class="text-school-principal-span">Studies</span> 
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4 xl4">
            <div class="card card-container-info">
                <div class="card-image">
                    <img src="./assets/profile/photo-perfil.png">
                </div>
                <div class="card-content">
                    <p class="text-one">Nombre / <span class="text-one-span">Name :</span></p>
                    <p class="text-two">Cesar González Caballero</p>
                    <p class="text-one">Edad / <span class="text-one-span">Age :</span></p>
                    <p class="text-two">32 años / <span class="text-two-span">Years old</span></p>
                    <p class="text-one">Ubicación / <span class="text-one-span">Location :</span></p>
                    <p class="text-two">CDMX, México.</p>
                </div>
                <div class="card-action">
                    <p class="text-one">Desarroldor web front-end / <span class="text-one-span">Developor web front-end</span></p>
                </div>
            </div>
        </div>
        <div class="col s12 m7 l7 xl7 col-container-panel">
            <div class="card-panel card-panel-school">
                <div class="card-content-2">
                    <p class="text-one">Nombre / <span class="text-one-span">Name :</span></p>
                    <p class="text-two">Cesar González Caballero</p>
                    <p class="text-one">Edad / <span class="text-one-span">Age :</span></p>
                    <p class="text-two">32 años / <span class="text-two-span">Years old</span></p>
                    <p class="text-one">Ubicación / <span class="text-one-span">Location :</span></p>
                    <p class="text-two">CDMX, México.</p>
                </div>
                <h5 class="black-text"><i class="material-icons ico-devices">devices</i> Lic. Ingenieria en sistemas Computacionales </h5>
                <div class="progress">
                    <div class="determinate d-school"></div>
                </div>
                <h5 class="black-text"><i class="material-icons ico-devices">storage</i> Analista de Programación, Redes y Bases de Datos </h5>
                <div class="progress">
                    <div class="determinate d-analist"></div>
                </div>
                <h5 class="black-text"><i class="material-icons ico-devices">group</i> Lic. Psicología </h5>
                <div class="progress">
                    <div class="determinate d-psicologi"></div>
                </div>
                <h5 class="black-text"><i class="material-icons ico-devices">create</i> Tec. Dibujo Publicitaro </h5>
                <div class="progress">
                    <div class="determinate d-draw"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- School End -->

<app-button></app-button>
<app-footer></app-footer>